@font-face{
font-family: Basma
src: url(../Fonts/UKIJBasmaTB.ttf)
}

*{
font-family: Basma;
}

h1{
color: green;
background-color: darkseagreen;
}

h2{
color: #FAF8F1;
background-color: #C58940;
}

.nav{
color: red;
}

/*ol{
margin-left: -40px;
margin-top: -20px;
list-style-position: inside;
font-size: 20px
text-align: center
}*/

body{
background-color: antiquewhite;
}

p{
color: red;
}

.color-title{
font-weight: normal;
}

#red{
color: red;
}
#yellow{
color: yellow;
}

#blue{
color: blue;
}

#orange{
color: orange;
}

#green{
color: green;
}

img{
height: 100px;
width: 100px;
}
