/* Common CSS */
* {
    font-family: 'UKIJ Tuz', 'ALKATIP Tor', 'UKIJ Tor', 'UKIJ inchike', 'Alpida_Unicode System', 'UKIJ Tuz Tom', 'Microsoft Uighur', 'uyghur ekran', 'Arial Unicode MS', 'Alpida_Unicode System';
}

h1 {
    color: green;
    background-color: transparent;
    text-align: center;
}

h2 {
    color: #FAF8F1;
    background-color: #C58940;
}

.navi {
    color: red;
    display: inline-block;
    padding-left: 10px;
}

body {
    background-color: antiquewhite;
}

p {
    color: red;
}

/*Home page CSS */
.flex-container{
    display: flex;
    left: 40%;
    align-items: center;
    height: 500px;
    position: absolute;
}
li {
    display: inline-block;
    
}
#primary-menu {
    text-decoration: none;
}





/*Knowledge page CSS */
h2.color-title {
    background-color: transparent;
    color: black;
    text-align: center;
}
.color-title {
    font-weight: normal;
}
#red {
    text-align: center;
    color: red;
    background-color: transparent;

}
#yellow {
    text-align: center;
    background-color: transparent;
    color: yellow;
}
#blue {
    background-color: transparent;
    color: blue;
    text-align: center;
}
#orange {
    background-color: transparent;
    color: orange;
    text-align: center;
}
#green {
    background-color: transparent;
    color: green;
    text-align: center;
}



/*Poem page CSS */
h2.poem-header{
    background-color: transparent;
    color: black;  
}
.elshir-photo{
    float: right;
    padding-left: 10px;
    height: 100px;
    width: 100px;
}
.elshir-bio {
    margin-top: 0%;
}
.poem-elshir{
    clear: both;
}
.nav{
   padding-left: 10px;
   padding-bottom: 30px;
}




/*ol{
margin-left: -40px;
margin-top: -20px;
list-style-position: inside;
font-size: 20px
text-align: center
}*/

